language: c
cache:
  directories:
      - "$HOME/.cache"
      - "$HOME/.ccache"
env:
  - PYTHON_VERSION=2.7
  - PYTHON_VERSION=3.5
before_install:
    - ccache -s
    - export PATH=/usr/lib/ccache:${PATH}
    - wget https://package-data.enthought.com/edm/rh5_x86_64/1.4/edm_1.4.1_linux_x86_64.sh && bash ./edm_1.4.1_linux_x86_64.sh -b -p $HOME
    - export PATH=${HOME}/edm/bin:${PATH}
    - edm environments create --version ${PYTHON_VERSION} force 
    - . $HOME/.edm/envs/force/bin/activate 
    - cat requirements/edm_requirements.txt | grep -v "^#" | while read line; do edm install -y `echo $line | awk '{print $1"=="$2}'`; done 
install:
    - pip install -r requirements/requirements.txt
    - pip install -e .
script:
    - pip install -r requirements/dev_requirements.txt
    - flake8 .
    - python -m unittest discover
after_success:
    - coverage run -m unittest discover
    - pip install codecov
    - codecov
    - bash <(curl -s https://codecov.io/bash)
